footer {
  background-color: var(--color-surface);
  font-size: var(--font-size-small);
}

footer .footer > div {
  margin: auto;
  max-width: 1200px;
  padding: 40px 24px 24px;
}

footer .footer p {
  margin: 0;
}
